{% extends "layout.html" %}

{% block page_title %}
  Employment type
{% endblock %}

{% block content %}



<main id="content" role="main">

    <div class="phase-banner">
      <p>
        <strong class="phase-tag">BETA</strong>
        <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
      </p>
    </div>

    <form class="form" method="post">

    <h1 class="form-title heading-large">Does the BRP say family member?</h1>


      <details>
  <summary><span class="summary">Where do I check?</span></summary>
  <div class="panel panel-border-narrow">
    <p>
      This is where it might say family member:
    </p>
  </div>
  </details>
      
    <fieldset class="form-group inline">

      <div class="multiple-choice">
      <input id="radio-inline-1" type="radio" name="familymember" value="yes">
        Yes
      <label class="block-label" for="radio-inline-1">
      </label>
      </div>

      <div class="multiple-choice">
      <input id="radio-inline-2" type="radio" name="familymember" value="no">
        No
      <label class="block-label" for="radio-inline-2">
      </label>
      </div>

    </fieldset>
        
    <div class="form-group">
      <input type="submit" class="button" value="Continue">
    </div>

</div>
</form>
</main>

{% endblock %}
