{% extends "layout.html" %}

{% block page_title %}
  Employment type
{% endblock %}

{% block content %}



<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

    <div class="phase-banner">
      <p>
        <strong class="phase-tag">BETA</strong>
        <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
      </p>
    </div>

    <form class="form" method="post">

    <h1 class="form-title heading-large">If the claimant provides this information, they will qualify for a fast track HRT</h1>
      
      <p>Once provided, please send the following documents to the decision maker:</p>

      <ul class="list list-bullet">
      <li>Passport</li>
      <li>Three months wage slips or bank statements</li>
      <li>Claimant Statement</li>
      </ul>

    <a class="button" href="/start" role="button">Finish</a>
    </form>
    </div>    
    </main>

{% endblock %}
