{% extends "layout.html" %}

{% block page_title %}
  Employment type
{% endblock %}

{% block content %}



<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

    <div class="phase-banner">
      <p>
        <strong class="phase-tag">BETA</strong>
        <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
      </p>
    </div>

    <h1 class="form-title heading-large">A full HRT is required for this claimant</h1>

    <a class="button" href="/start" role="button">Finish</a>
</div>    
</main>

{% endblock %}
