{% extends "layout.html" %}

{% block page_title %}
  Employment type
{% endblock %}

{% block content %}




<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

    <div class="phase-banner">
      <p>
        <strong class="phase-tag">BETA</strong>
        <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
      </p>
    </div>

    <form class="form" method="post">

    <h1 class="form-title heading-large">Is the claimant a British or Irish citizen?</h1>
      
      <fieldset class="form-group inline">
        
        <div class="multiple-choice">
          <input id="radio-inline-1" type="radio" name="nationality" value="yes">
          <label class="block-label" for="radio-inline-1">
            Yes
          </label>
        </div>

        <div class="multiple-choice">
          <input id="radio-inline-2" type="radio" name="nationality" value="no">
          <label class="block-label" for="radio-inline-2">
            No
          </label>
        </div>

      </fieldset>
        
    <div class="form-group">
      <input type="submit" class="button" value="Continue">
    </div>
</form>
</div>
</main>

{% endblock %}
